{%load static%}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Johnson County Crime Map</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
        crossorigin="">
        <link rel="stylesheet" href="{% static 'map.css'%}">
        <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
        
    </head>
    <body>
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin="">
        </script>
        
        <h1>Johnson County Police Activity Map</h1>
        <div>
            <div id="filter_options">
                <div id="startEndTimes">
                    <label>Start: </label>
                    <input type="date" id="startDate" >
                    <label>End: </label>
                    <input type="date" id="stopDate" >
                </div>

                <label for="callType">Call Type: </label>
                <select id="callType" name="callType">
                    <option value="Traffic Stop">Traffic Stop</option>
                    <option value="Civil">Civil</option>
                    <option value="Wellness Check">Wellness Check</option>
                    <option value="Suspicious Activity">Suspicious Activity</option>
                </select>

                <label for="department"> Department: </label>
                <select id="department" name="department">
                    <option value="All Departments">All Departments</option>
                    <option value="Iowa City PD">Iowa City PD</option>
                    <option value="Coralville PD">Coralville PD</option>
                    <option value="University of Iowa DPS">University of Iowa DPS</option>
                    <option value="North Liberty PD">North Liberty PD</option>
                    <option value="Sheriff's Office">Sheriff's Office</option>
                </select> 
            </div>
            
            <div id="map">
            </div>
        </div>
        
        <script>
            var map = L.map('map').setView([41.66, -91.53], 12);
            
            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);
            
            {% for entry in  callBlotter%}
                L.marker([{{entry.latitude}}, {{entry.longitude}}]).addTo(map)
                    .bindPopup("{{entry.cfs_number}}<br>{{entry.address}}<br>{{entry.call_datetime}}<br>{{entry.agency}}<br>{{entry.calltype}}<br>{{entry.disposition}}")
            {% endfor %}
            </script>
        
        </body>
</html>